<!DOCTYPE html>
<html lang="en">

<%- include('../../util/template/head.ejs',{title:'demo'})%>

<body>
  <div class="centered landing-bg text-white yellow-bg">
    <h1 class="title title--main">WEBPACK PLAYGROUND</h1>
    <h2 class="title title--sub">TEMPLATE</h2>
  </div>
</body>

</html>
