<!DOCTYPE html>
<html lang="en">

<%- include('../template/head.ejs',{title:'Index'})%>

<body>
  <div class="centered landing-bg text-white blue-bg">
    <h1 class="title title--main">WEBPACK PLAYGROUND</h1>
    <h2 class="title title--sub">TEMPLATE</h2>
  </div>
</body>

</html>