$hamburger-padding-x : 10px;
$hamburger-padding-y : 10px;
$hamburger-layer-width : 20px;
$hamburger-layer-height : 4px;
$hamburger-layer-spacing : 4px;
$hamburger-layer-color : gray;
$hamburger-layer-border-radius : 4px;
$hamburger-hover-opacity : 0.7;
$hamburger-active-layer-color : gray;

@import '~hamburgers/_sass/hamburgers/hamburgers.scss';
@import 'util/main';


.playground {
  width: 100%;
  height: 100%;
  overflow: hidden;
  $sidebarWidth: 300px;

  &__inner {
    display: inline-flex;
    height: 100%;
    width: calc(100% + #{$sidebarWidth});
    transform:translateX(-#{$sidebarWidth});
    transition: transform 500ms;
  }

  &--active &__inner {
    transform: translateX(0);
  }

  &--active &__body::after {
    opacity: 1;
  }


  &__title {
    font-weight: 300;
    font-size: 30px;
    padding: 30px;
    margin: 0;
  }

  &__sidebar {
    width: $sidebarWidth;
    height: 100%;
    flex: none;
    box-shadow: -13px 4px 42px -15px rgba(59, 59, 59, 0.8) inset;
    background-color: #eee;

  }

  &__body {
    width: calc(100% - #{$sidebarWidth});
    flex: none;
    height: 100%;
    position: relative;
    z-index: 1;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: opacity 500ms;
      z-index: 2;
      top: 0;
      left: 0;
      pointer-events: none;
    }
  }

  &__body &__loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;

    &--active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__body &__toggler {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
  }

  &__content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
  }
}

.menu {
  width: 100%;
  overflow: hidden;
  position: relative;

  @mixin shade {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms;
    z-index: 3;
  }

  &:before {
    top: 0;
    @include shade;
    filter: blur(3px);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 100, 0.3) 100%);
  }

  &:after {
    bottom: 0;
    @include shade;
    height: 10%;
    //iutykjjg
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 100, 0.1) 100%);
  }

  &--top-shaded::before {
    opacity: 1;
  }

  &--bot-shaded::after {
    opacity: 1;
  }

  &__inner {
    height: 100%;
    overflow: auto;
  }

  &__list {
    width: 100%;
  }

  &__item {
    width: 100%
  }


  &__link {
    font-size: 16px;
    padding: 20px 30px;
    background-color: transparent;
    transition: color 500ms, background-color 500ms;
    width: 100%;
    display: block;
    color: gray;
    text-decoration: none;

    &:hover,
    &:active {
      color: white;
      text-decoration: none;
    }

    &:hover {
      background-color: rgba(175, 175, 175, 0.5);
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;

  &__title {
    flex: none;
    font-weight: 300;
    font-size: 30px;
    padding: 30px;
    margin: 0;
  }

  &__menu {
    flex: 1;
    overflow: auto;

    >* {
      height: 100%;
    }
  }

  &__footer {
    flex: none;
  }

}

.author {
  display: flex;
  padding: 20px 20px 20px 30px;

  &__name {
    font-weight: 300;
    font-size: 16px;
  }

  &__name+&__links {
    margin-left: auto;
  }

  &__links {
    display: flex;
  }

  &__links &__link+&__link {
    margin-left: 10px;
  }

  &__link {
    width: 20px;
    height: 20px;

    img {
      width: 100%;
    }
  }
}